apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: local-clusters
  namespace: local-app
spec:
  clusterSets:
  - global
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchExpressions:
          - key: local-cluster
            operator: In
            values:
              - "true"
